.banner {
  position: relative;
}
.banner .photograph-list {
  position: absolute;
  top: 15%;
  left: 0;
}
.banner .list-img {
  position: absolute;
}
.banner .list-img1 {
  width: 12.55%;
  top: 58.2%;
  left: 0.15%;
}
.banner .list-img2 {
  width: 10.35%;
  top: 57.4%;
  left: 12.6%;
}
.banner .list-img3 {
  width: 8.38%;
  top: 52.2%;
  left: 22.86%;
}
.banner .list-img4 {
  width: 7.5%;
  top: 46%;
  left: 31%;
}
.banner .list-img5 {
  width: 7.6%;
  top: 37.3%;
  left: 38.4%;
}
.banner .list-img6 {
  width: 11.3%;
  top: 28%;
  left: 46%;
}
.banner .list-img7 {
  width: 16.7%;
  top: 19%;
  left: 57.5%;
}
.banner .list-img8 {
  width: 25.7%;
  top: 11.8%;
  left: 74.2%;
}
.classify {
  height: .6rem;
  line-height: .6rem;
  background-color: #f8fbfc;
}
.classify .wrap {
  display: flex;
  justify-content: space-around;
  padding: 0 1rem;
}
.classify .wrap a {
  display: block;
  width: 2.7rem;
  font-size: .2rem;
  text-align: center;
}
.classify .wrap .pitch-on {
  color: #0066ff;
  border-bottom: 3px solid #0066ff;
}
.idea {
  border-bottom: 1px solid #ccc;
}
.idea .idea-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.idea .idea-list > div {
  width: 48%;
  margin-bottom: .3rem;
}
.idea .idea-list > div .fs_26 {
  line-height: .7rem;
  color: #181a27;
}
.idea .idea-list > div .fs_18 {
  line-height: .3rem;
  color: #666666;
}
.environment .wrap {
  position: relative;
  border-bottom: 1px solid #ccc;
  padding-bottom: .4rem;
}
.environment .environment-list {
  position: relative;
  width: 1050px;
  height: 790px;
  margin: 0 auto;
  overflow: hidden;
}
.environment .environment-list .inner {
  position: relative;
  width: 6300px;
  left: 0;
  top: 0;
}
.environment .environment-list .inner .innerwraper {
  float: left;
}
.environment .clearfix:after {
  display: block;
  clear: both;
  visibility: hidden;
  content: "";
  height: 0;
}
.environment .arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  width: 42px;
}
.environment .left-arrow {
  left: 0;
}
.environment .right-arrow {
  right: 0;
}
.activity {
  border-bottom: 1px solid #ccc;
}
.activity .activity-list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.activity .activity-list > div {
  width: 48%;
  margin-bottom: .6rem;
}
.activity .activity-list > div .fs_26 {
  line-height: .7rem;
  color: #181a27;
}
.activity .activity-list > div .fs_18 {
  line-height: .3rem;
  color: #666666;
}
@media only screen and (max-width: 768px) {
  .banner {
    display: none;
  }
  .classify {
    display: none;
  }
  .wrap {
    padding: .1rem;
  }
  .idea {
    margin-top: .2rem;
  }
  .idea .idea-list > div {
    width: 100%;
    margin-bottom: .4rem;
  }
  .environment .wrap {
    position: relative;
    overflow: hidden;
  }
  .environment .environment-list {
    width: 100%;
    height: 4.75rem;
  }
  .environment .environment-list .inner {
    width: 600%;
  }
  .environment .arrow {
    display: none;
  }
  .activity .activity-list > div {
    width: 100%;
    margin-bottom: .6rem;
  }
}
